<h1 class="mt-5">Welcome to Social-Rails</h1>
                <p class="lead">Please register or signin to continue.</p>
                <p>Bootstrap v5.2.3</p>

<%= link_to "Sign Up", new_account_registration_path(), class: "btn btn-success" %>
<%= link_to "Sign In", new_account_session_path(), class: "btn btn-secondary" %>